*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1080px){
    html{
        font-size: 93.75% //converter tamanho da fonte para 15px
    }
}

@media (max-width: 720%){
    html{
        font-size: 87.5% //converter tamanho da fonte para 14px
    }
}


body{
    background: #f2f6fc;
}

body, input, textarea, select, button{
    font: 400 1rem sans-serif;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}